@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    margin-left: 1.5rem;
}

.card-hero-primary {
    border: none;
}

.card-img-top {
    height: 400px;
    border-radius: 8px;
}

.card-hero {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 8px;
}

.card-title-hero {
    margin-top: 100px;
}

.card img {
    border-radius: .5rem;
}

.card-blog-single p {
    color: #555;
}